*
!pom.xml
!Dockerfile
!shared/
!shared/**
!modules/
!modules/**
!application/
!application/**
!deploy/
!deploy/**
!scripts/
!scripts/**
**/target
._*
**/._*
*.DS_Store
**/.DS_Store
**/.AppleDouble/**
**/.LSOverride
