*
!pom.xml
!Dockerfile
!platform-common/
!platform-common/**
!resource-service-core/
!resource-service-core/**
!identity-service/
!identity-service/**
!organization-service/
!organization-service/**
!attendance-service/
!attendance-service/**
!project-service/
!project-service/**
!work-service/
!work-service/**
!operations-service/
!operations-service/**
!knowledge-service/
!knowledge-service/**
!activity-service/
!activity-service/**
!api-gateway/
!api-gateway/**
**/target
