GOOGLE_APPLICATION_CREDENTIALS=C:/secure/firebase-service-account.json
FIREBASE_PROJECT_ID=
# Alternative to GOOGLE_APPLICATION_CREDENTIALS:
FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=
PROJECT_OS_API_URL=http://127.0.0.1:18080/api/v1
MIGRATION_ADMIN_EMAIL=
MIGRATION_ADMIN_PASSWORD=
MIGRATION_DEFAULT_PASSWORD=
PGHOST=127.0.0.1
PGPORT=15433
PGDATABASE=project_os
PGUSER=project_os_owner
PGPASSWORD=
