GOOGLE_APPLICATION_CREDENTIALS=C:/secure/firebase-service-account.json
FIREBASE_PROJECT_ID=
PROJECT_OS_API_URL=http://127.0.0.1:18080/api/v1
MIGRATION_ADMIN_EMAIL=
MIGRATION_ADMIN_PASSWORD=
MIGRATION_DEFAULT_PASSWORD=
PGHOST=127.0.0.1
PGPORT=15433
PGDATABASE=project_os
PGUSER=project_os_owner
PGPASSWORD=
